/*If the css doesnt update, use shift + ctrl + r on the website, it resets the browser cache which is utterly fucking stupid*/
body {
  background-image: url("stars.jpg");
  background-size: 100%;
  margin: 0;
}
h1 {
  font-weight: 700; /*What does this do? Nothing?...*/
  text-align: center;
  font-size: 5em;
  font-family: Consolas, monaco, monospace;
  color: lightgrey;
  animation-name: spread;
  animation-duration: 1.7s;
  letter-spacing: 0.15em;
  opacity: 1.0;
  text-weight: 900;
}

@keyframes spread{
    0% {
        letter-spacing: 0.0em;
        opacity: 0.0;
    }
    50% {
        letter-spacing: 0.15em;
    }
    100% {
        opacity: 1.0;
    }

}


h2 {
  font-family: Consolas, monaco, monospace;
  font-size: 1.625em;
  color: #9e9e9e;
  text-align: center;
  animation-name: pullup;
  animation-duration: 1.8s;
  text-weight: 600;
}


@keyframes pullup{
    0%{
        margin-top: 5%;
        opacity: 0;
    }
    45%{
        margin-top: 5%;
        opacity: 0;
    }
    100%{
        margin-top: 0%;
        opacity: 1.0;
    }
}

h3 {
  font-weight: 700;
  color: darkorchid;
}
h4 {
  font-weight: 700;
  color: #333333;
}
h5 {
    font-weight: 700;
}

.halfscreen p{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.3em;
    color: grey;
}

.halfscreen img{
    width: 100%;
    position: relative;
}

.quotestyle {
    display: inline-block;
    text-align: center;
    color: white;
    width: 20%;
    height: 80%
    margin: 5%;
}

.navbar {
  left: -10px; /*I don't think this is doing anything right now*/
  padding-left: 1%;
  background-color: grey;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /*right: 0*/
  align: center;
  width: 99%; /* Full width */
  float: bottom;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: inline-block;
  color: white;
  font-family: Consolas, monaco, monospace;
  font-size: 1em;
  text-align: center;
  padding: 1.9375em 1.75em;
  text-decoration: none;
  transition: all .5s ease;
  position: relative;
}

/* Change background on mouse-over */
.navbar a:hover {
  font-size: 1.125em;
  color: grey;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color:white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fixed-bg {
  height: 100%;
  left: -10px;
  min-height: 500px;
  background-attachment: fixed;
  background-position-x: center;
  background-image: url("space.png");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 120%;
  margin: 0;
  padding: 0;
  top: 0;
}

.fixed-bg1 {
  height: 100%;
  left: -10px;
  min-height: 500px;
  background-attachment: fixed;
  background-position-x: center;
  background-image: url("spaceship.png");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  top: 0;
}

/* Main content */
.main {
  margin-top: auto; /* Add a top margin to avoid content overlay */
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding-top: 10%;
  padding-bottom: 6%;

}
.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

.halfscreen{
    width:30%;
    padding-right: 10%;
    padding-left: 10%;
    float:left;
    position:relative;
    animation-name: pullup;
    animation-duration: 2.2s;
    padding-top: 0%;
    padding-bottom: 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color:  #FFA07A;
  position: fixed;
  height: 1000px;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #FF4500;
  color: white;
}

/*li a.active {
  background-color: #4CAF50;
  color: white;
}*/

.vert {
  padding-top: 55px;
  padding-left: 0px;
}
.body2 {
  padding: 1200px -10px;
  /*height: 1px;*/
}