<html>
  <head>
    <title>About Us</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="shortcut icon" href="static/oie_transparent.png"/>

  </head>
  <body>
    <div class="navbar" class="hover-underline-animation">
      <a href="/" style="padding: 12px 5px;"><img src="static/oie_transparent.png" alt="My Logo" style="width: 75px; height: auto"></a>
      <a href="/pricing"><div class="hover-underline-animation">Pricing</div></a>
      <a href="/vehicles"><div class="hover-underline-animation">Vehicles</div></a>
      <a href="/about"><div class="hover-underline-animation">About</div></a>
    </div>
    <div class="main">
        <h1>THE ASTARIA MISSION</h1>
        <h2>"If the capsule history of our progress teaches us anything, it is that man and his quest for knowledge and progress is determined and cannot be deterred. The exploration of space will go ahead, whether we join in it or not.<br><br>And it is one of the great adventures of all time."<br>-John F. Kennedy</h2>
    </div>
          <div class="halfscreen">
          <p>
            For as long as mankind has existed, we've looked at the stars and wondered to ourselves - what's out there? And so much as we can observe through photos and telescopes, here at Astaria we believe in the magic of seeing it for yourself. Whether it's walking in space hundreds of miles above the winding Grand Canyon, watching from moon orbit as it eclipses the Earth (the only times human beings have ever not been able to see the Earth), or just floating around in zero g's, you'll never have another experience quite as thrilling or fascinating.
          </p>
        </div>
        <div class="halfscreen">
            <img src="static/canyon.jpg">
        </div>
  </body>
</html>