
<html>
  <head>
    <title>Pricing</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="shortcut icon" href="static/oie_transparent.png"/>

  </head>
  <body>
    <div class="navbar" class="hover-underline-animation">
      <a href="/" style="padding: 12px 5px;"><img src="static/oie_transparent.png" alt="My Logo" style="width: 75px; height: auto"></a>
      <a href="/pricing"><div class="hover-underline-animation">Pricing</div></a>
      <a href="/vehicles"><div class="hover-underline-animation">Vehicles</div></a>
    </div>
    <div class="main">
        <h1>PRICING CALCULATOR</h1>
        <h2>DEDICATED RIDESHARE MISSIONS AS LOW AS $1M. SEARCH FLIGHTS BELOW.</h2>
        <!> Have a form where they put in things like date, weight of everything, class, vehicle etc. and it calculates price

    </div>
  </body>
</html>